body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Mob";
  src: url("assets/fonts/Mont-Regular.ttf");
}
.container {
  background-color: #11346f;
}
.text {
  font-weight: 800;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #f6f8fc;
  margin: 0;
  font-family: "Mob";
}
nav {
  background: rgba(245, 253, 255, 0.8);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(14px);
  padding: 15px;
}
.nav-cont {
  display: none;
}
.nav-image {
  margin: auto;
  display: flex;
  height: 22px;
}
.btn-order {
  display: none;
}
.content {
  background-color: #f5fdff;
  padding: 17px;
}
.cont {
  display: flex;
}

@media only screen and (min-width: 1440px) {
  nav {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
  }
  .nav-image {
    height: 23.47px;
    margin: auto 0;
  }
  .nav-text {
    font-family: "Mont";
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #11346f;
    opacity: 0.75;
  }
  .main {
    font-weight: 700;
    opacity: 1;
  }
  .nav-cont {
    display: flex;
    gap: 60px;
  }
  .btn-order {
    display: flex;
    font-family: "Mont";
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    background: #197aff;
    border-radius: 60px;
    padding: 11px 39px;
    border: none;
  }
}
